<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Equipping you to do the analyses you need</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Dissertation Help</h4>
		    <p class="text-muted">Your dissertation in social sciences, psychology, education, nursing, etc. needs well-thought-through analyses.  We're here to encourage and guide you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training Seminars</h4>
		    <p class="text-muted">Need a quick refresher on SPSS, or a walkthrough to get you started doing your own analyses?  Check out our 1-3 day seminars.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teleconference Mentoring</h4>
		    <p class="text-muted">Too busy to meet in person?  Out of town, or out of the country?  Not a problem; we can meet you online.</p>
                </div>
            </div>
        </div>
    </section>
